<%- include("partials/header.ejs") %>

<style>
    
.bg-formula{
    background-color: #e3f2fd;
}
</style>

    <h1 class="border rounded-4 container py-3 bg-white my-5 text-center" style="color: #0A2647">Formula</h1>

    <div class="grid gap-3 flex">
        <div class="formula border bg-white rounded-4 container py-5 px-5 w-60 p-2 g-col-6 my-3">
            <h3>Newton's Second Law of Motion:</h3>
            <h4 class="text-center border bg-formula w-50 mx-auto px-3 py-4 mt-2 rounded-4">F = m × a</h4>
            <p>Where,</p>
            <ul>
                <li>F is the force applied to an object,</li>
                <li>m is the mass of the object,</li>
                <li>a is the acceleration of the object.</li>
                
            </ul>
        </div>

        <div class="formula border bg-white rounded-4 container py-5 px-5 w-60 p-2 g-col-6 my-3">
            <h3>Kinetic Energy:</h3>
            <h4 class="text-center border bg-formula w-50 mx-auto px-3 py-4 mt-2 rounded-4">KE = 1/2mv<sup>2</sup></h4>
            <p>Where,</p>
            <ul>
                <li>KE is the kinetic energy,</li>
                <li>m is the mass of the object,</li>
                <li>v is the velocity of the object.</li>
                
            </ul>
        </div>

      </div>
      
    





<%- include("partials/footer.ejs") %>
